.title {
    font-size: 36px;
    line-height: 28px;
    text-transform: uppercase;
    color: #3b3b3b;
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
}

.joy {
    width: 60%;
    height: 97px;
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.mike {
    width: 60%;
    height: 97px;
    margin-top: 90px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.uliya {
    width: 60%;
    height: 97px;
    margin-top: 90px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

p {
    opacity: 0.812;
    font-size: 18px;
    line-height: 32px;
    color: #3b3b3b;
    font-weight: 400;
    font-family: "Poppins";
}

h4 {
    font-size: 24px;
    line-height: 32px;
    color: #3b3b3b;
    font-weight: 700;
    font-family: "Poppins";
    margin-bottom: 0;
}

img {
    width: 150px;
    height: 154px;
    margin-top: 30px;
    margin-right: 30px;
}

.customers {
    margin: auto;
}